@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Baloo+Paaji+2:wght@400..800&family=Press+Start+2P&display=swap");

.mainDetailsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.navbar {
    width: 100%;
}

.detailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Baloo Paaji 2", serif;
}

.pokedexImg {
    width: 100%;
    margin-top: 30px;
    position: absolute;
    z-index: 0;
}

.pokemonImg {
    z-index: 1000;
    width: 400px;
    margin-top: 170px;
    margin-bottom: 50px;
}

.flyingTypeImg {
    position: relative;
    bottom: 80px;
}

.floatingImg {
    position: relative;
    top: 30px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19264b;
    width: 102%;
    padding: 10px 0 30px 0;
    position: relative;
    bottom: 20px;
}

.midHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    font-family: "Atma", serif;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0;
    color: #ffd444;
}

.prevArrowImg, .nextArrowImg {
    width: 160px;
    padding: 15px 80px 0 80px;
    cursor: pointer;
}

.disabledArrow {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}


.typesContainer {
    display: flex;
    gap: 10px;
}

.pokemonType {
    color: #222020;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    margin: 5px;
    font-weight: bold;
}

.statsContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.statsImg {
    width: 650px;
}

.h3 {
    color: #45C3D9;
    font-size: 3.5rem;
    font-style: italic;
}

.statsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: "Press Start 2P", serif;
    position: relative;
    top: 10px;
}

.statsDiv {
    border: 3px solid #38abc0;
    width: 130%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-radius: 3px;
    background-color: #182348;
}

.statBox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 1.5rem;
    color: #51FDFF;
}

.addButton {
    font-size: 1.8rem;
    background-color: #19264b;
    color: #cacee2;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 15px;
    font-family: "Atma", serif;
    font-weight: 600;
    margin: 30px 0 50px 0;
}

.loading, .errors {
    color: #ffd444;
    font-family: "Atma", serif;
    font-size: 2rem;
    text-align: center;
    margin: 50px;
}