@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Baloo+Paaji+2:wght@400..800&display=swap");


.landingPageMain {
    background-color: #30385f;
    padding-bottom: 400px;
}

.landingPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeImageBox {
    margin: 30px;
    width: 95%;
    display: flex;
    color: #ffd444;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20px;
    font-family: "Atma", serif;
    font-weight: 500;
    font-size: 25px;
}

.infoBox p {
    margin: 0;
    color: #fefbe2;
    font-family: "Baloo Paaji 2", serif;
}

.infoBox h2 {
    margin-bottom: 5px;
}

.welcomeImageBox img {
    width: 60%;
}


.bodyContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

.featuresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #fefbe2;
    border-radius: 15px;
    background-color: #50587e;
    width: 250px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.featuresContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px;
    transform: scale(1.05);
    cursor: pointer;
}

.featuresContainer h3 {
    font-family: "Atma", serif;
    color: #fefbe2;
    font-size: 1.5rem;
}

.featuresContainer p {
    font-family: "Baloo Paaji 2", serif;
    color: #fefbe2;
    font-size: 1.2rem;
    padding: 0 10px;
}

.journalIcon img {
    width: 180px;
    margin: 12px;
}

.searchIcon img {
    width: 140px;
    margin: 20px;
}

.globeIcon img {
    width: 140px;
    margin: 20px;
}

.loading {
    color: #ffd444;
    font-family: "Atma", serif;
    font-size: 2rem;
    text-align: center;
    margin: 50px;
}